
<%= link_to 'Back', :back, class: 'btn btn-secondary mb-4' , style: ' color:white' %>
<div class="card">
  <div class="card-body">
    <h2 class="card-title", style="margin-bottom: 35px">Editing Bug</h2>
    <%= render 'form' %>
  </div>
</div>
